@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

* {
  font-family: Poppins, sans-serif !important;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dae0;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 6px;
  margin: 20px;
}
